$color__pnav: #3498db;
$color__snav: #2980b9;
$color__pfont: #333;
$color__sfont: #ffffff;
$color__pbox: #2980b9;
$color__sbox: #e74c3c;
$color__tbox: #2c3e50;
$font__p: 'Open Sans', sans-serif;







