



.bg-bl{
	background-color: $color__tbox;
}

.header{
	display:flex;
	background-color: $color__logo;
}
.header:before{
	content:"";
	position:absolute;
	margin-top:68px;
	width:100%;
	height:5px;
	background-color: $color__dlogo;
}

.logo{
	img{
		width:120px;
	}
}

#wrap-logo{
  margin: 0 auto;
    width: 40%;
    float: left;
}
.nav-button{
  background-color: transparent;
  border: none;
  font-size:1.5em;
  span{
  color: $color__sfont;
  font-size: 2em;
  transition: ease-in 0.5s all;
  }
}
.btn-active{
  background-color: $color__dlogo;
}
#wrap-nav-button{
  padding: 10px 0 10px 0;
}
.nav-bar{
	margin: 0;
  padding: 0;
  
  transform: translate3d(0,0,0); 
  transition: 0.5s ease-in all;
  


	li{
		display:inline-block;
		
		a{
    display: block;
		text-decoration:none;
		color: $color__sfont;
		font-family: $font__p;
		font-size: 2.2em;
		font-weight:300;
		padding: 0 20px 0 0;
    padding: 19.5px 10.0px;
    
		}
	}
  li:hover{
    background-color: $color__dlogo;
    @include transition(0.4s);
  }
  .active{
    background-color: $color__dlogo;
  }
 
}
#wrap-icons-social{
  width:150px;
  float: right;
}
.social-icons{
	& ul li{
	display: inline-block;
	list-style:none;
	padding: 0 10px;
	}
	& ul li a{
	text-align: center;
	text-decoration: none;
	color:$color__sfont;
	font-size: 30px;
  text-shadow: 1px 1px rgba(34,34,34,0.5);
  @include transition(0.3s);
	}
  & ul li a.face-icon:hover{
  color: $color__facecolor;

  }
  & ul li a.twitter-icon:hover{
  color: $color__twittercolor;
  }
  & ul li a.whats-icon:hover{
  color: $color__whatscolor;
  }
}
